<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="future_LogCleaner_write_logs">
        <observer name="future_LogCleaner_check_log_size" instance="Future\LogCleaner\Observer\CheckLogSize" />
    </event>
</config>