<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>        
        <section id="logcleaner" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Log Cleaner</label>
            <tab>catalog</tab>
            <resource>Future_LogCleaner::LogCleaner_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                
                <field id="module_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> 

                <field id="log_size_to_clean" translate="label" type="text" sortOrder="21" showInDefault="1">
                 <label>Log Size</label>
                 <comment>Logs will be delete when they reach the above size(MB)</comment>
                </field>
                  
                <field id="log_clean_type" translate="label" sortOrder="24" type="select" showInDefault="1" >
                    <label>Log clean type</label>
                    <comment>Pick one depending on your needs</comment>
                    <source_model>Future\LogCleaner\Model\Config\Source\AllowedOptions</source_model>
                </field>                
            </group>        
       </section>
    </system>
</config>